<div class="card mb-3">
    <img src="https://image.tmdb.org/t/p/original/{{movie?.backdrop_path}}" class="card-img-top" alt="...">
    <!-- La interrogacion ({movie?.backdrop_path}) es para que salte el error cuando carga la imagen, que lo muestra justo antes de cargarla. -->
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <img src="https://image.tmdb.org/t/p/w200/{{movie?.poster_path}}" alt="...">
            </div>
            <div class="col-9">
                <h5 class="card-title">{{movie?.title}}</h5>
                <span class="badge badge-pill badge-success">{{movie?.vote_average}} </span>
                <!-- <span class="badge badge-pill badge-info"> {{movie?.original_language}} </span> -->
                <small> {{movie?.release_date}} </small>
                <p class="card-text">{{movie?.overview}}</p>
                <span class="badge badge-light" *ngFor="let genres of movie?.genres">{{genres?.name}}</span>
                
            </div>
        </div>
    </div>
</div>