<ul class="nav justify-content-center bg-dark">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/home']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-" [routerLink]="['/add']">Add</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/subtract']">Subtract</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/multiply']">Multiply</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/divide']">Divide</a>
  </li>
</ul>
