<div class="container-fluid">
  <div class="row">
    <div class="col text1">
      <h3>
        A simple example of routing and components in Angular with simple
        operations.
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col text2">
      <p>
        Enter two numbers to see the result or choose an option from the
        navigation bar.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-2 ">
      <input
        [(ngModel)]="number1"
        class="form-control"
        type="number"
        placeholder="Number 1"
        (input)="changeInput($event.target.value)"
      />
    </div>
    <div class="col-xs-2 ">
      <input
        [(ngModel)]="number2"
        class="form-control"
        type="number"
        placeholder="Number 2"
        (input)="changeInput($event.target.value)"
      />
    </div>
  </div>
  <div class="row justify-content-center result">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
        {{ number1 }} + {{ number2 }} =
        <span class="total">{{ totalAdd }}</span>
      </li>
      <li class="list-group-item">
        {{ number1 }} - {{ number2 }} =
        <span class="total">{{ totalSubtract }}</span>
      </li>
      <li class="list-group-item">
        {{ number1 }} * {{ number2 }} =
        <span class="total">{{ totalMultiply }}</span>
      </li>
      <li class="list-group-item">
        {{ number1 }} / {{ number2 }} =
        <span class="total">{{ totalDivide }}</span>
      </li>
    </ul>
  </div>
</div>
