@import "../node_modules/bootstrap/scss/bootstrap";

.text1 {
  padding-top: 50px;
  text-align: center;
}

.text2 {
  padding-top: 25px;
  text-align: center;
}

.result{
  padding-top: 20px;
}

.total{
  font-weight: bold;
}

.redBox{
  border: 3px solid;
  border-color: red;
  padding: 5px 10px 5px 10px;
  display: inline;
}

.myButton{
  padding-top: 30px;
}